/*
.canton {
  fill: #BBBBBB;
}
*/
.canton-boundary {
  fill: none;
  stroke: #FFFFFF;
  stroke-linejoin: round;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-anchor: middle;
}
